.juri {
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
}

.juri__title {
margin-bottom: 20px;
}

.juri__list {
@include list-reset;
}

.juri__card {
	width: 100%;
	height: 300px;
	background-color: gray;

	&--tabl {
	display: none;	

	@include media-tablet {
	display: block;
	}
}

	&--desk {
		display: none;	
	
		@include media-desktop {
		display: block;
		}
	}
}