.text-basic-L {
	@include font ($size: 16px, $line-height: 20px, $weight: 300);

	@include media-tablet {
		font-size: 18px;
		line-height: 24px;
	}
}

.text-basic-M {
	@include font ($size: 14px, $line-height: 22px, $weight: 300);

	@include media-tablet {
		font-size: 16px;
		line-height: 24px;
	}
}

.text-basic-S {
	@include font ($size: 12px, $line-height: 100%);

	@include media-tablet {
		line-height: 22px;
	}
}

// .text-basic-mini {
// 	@include font ($size: 12px, $line-height: 100%);

// 	@include media-tablet {
// 		line-height: 22px;
// 	}
// }

.title-main {
	/* h1 */

	@include font ($family: $font-base, $size: 62px, $line-height: 62px, $weight: 700);
	letter-spacing: -0.01em;
	text-transform: uppercase;

	@include media-tablet {
		font-size: 72px;
		line-height: 85px;
		letter-spacing: -0.02em;
	}

	@include media-desktop {
		font-size: 92px;
		line-height: 110px;
		letter-spacing: -0.04em;
	}
}

.title-super {
	/* h2 для супергейм*/

	@include font ($family: $font-base, $size: 48px, $line-height: 54px, $weight: 500);
	text-transform: uppercase;

	@include media-desktop {
		font-size: 82px;
		line-height: 96px;
	}
}

.title-section {
	/* h3 */

	@include font ($family: $font-base, $size: 32px, $line-height: 32px, $weight: 500);
	;

	@include media-tablet {
		font-size: 42px;
		line-height: 42px;
	}

	@include media-desktop {
		font-size: 54px;
		line-height: 54px;
	}
}

.subtitle {

	@include font ($size: 18px, $line-height: 20px);

	@include media-tablet {
		font-size: 20px;
	}

	@include media-desktop {
		font-size: 22px;
		line-height: 22px;
	}
}

.text-nav,
.title-price {
	/* телефон в меню */

	@include font ($size: 22px, $line-height: 22px, $weight: 600);
	text-decoration: none;

	@include media-tablet {
		font-size: 24px;
		line-height: 24px;
	}

	@include media-desktop {
		font-size: 26px;
		line-height: 26px;
	}
}

.text-btn-M {
	/*текст для кнопки */

	@include font ($size: 12px, $line-height: 12px, $weight: 600);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}


.text-btn-month {
	/*текст для месяцев */

	@include font ($size: 18px, $line-height: 18px);
}

.text-number-L {
	@include font ($size: 64px, $line-height: 64px, $weight: 600, $color: $color-price);

	@include media-desktop {
		font-size: 70px;
		line-height: 70px;
	}
}

.text-number-M {
	@include font ($size: 60px, $line-height: 150px, $weight: 600, $color: $color-price);
}

.text-number-R {
	@include font ($size: 24px, $line-height: 24px, $weight: 600);
	
	@include media-desktop {
		font-size: 40px;
		line-height: 40px;
	}
}


//==========================
.text-invert {
	color: $color-white;
}

// .slogan {
//   /* слоган в Hero */

//   @include font ($size: 14px, $line-height: 14px, $color: $color-white);

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 20px, $color: $color-second-text);
//   }
// }

// .slogan-2 {
//   /* слоган в examples */

//   @include font ($size: 16px, $line-height: 20px, $color: $color-second-text);

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 24px, $color: $color-second-text);
//   }

//   @include media-desktop {
//     @include font ($size: 20px, $line-height: 24px, $color: $color-second-text);
//   }
// }

// .slogan-3 {
//   /* слоган в карте */

//   @include font ($size: 16px, $line-height: 20px, $color: $color-second-text);

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 26px, $color: $color-second-text);
//   }

//   @include media-desktop {
//     @include font ($size: 20px, $line-height: 24px, $color: $color-second-text);
//   }
// }



// .link-text {
//   @include font ($size: 16px, $line-height: 16px);
//   text-decoration: none;

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 26px);
//   }
// }

// .product-title {
//   @include font ($size: 16px, $line-height: 20px, $color: $color-product-title);
//   text-decoration: none;

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 24px, $color: $color-product-title);
//   }
// }

// .second-page-title {
//   @include font ($size: 24px, $line-height: 26px, $upper: none);
//   box-sizing: border-box;
//   position: relative;
//   width: fit-content;
//   margin-left: -20px;
//   padding-left: 20px;
//   padding-right: 20px;

//   background-color: $color-white;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 17px;
//     right: 0;
//     z-index: -1;

//     display: block;
//     height: 2px;
//     width: 100vw;

//     background-color: $color-bg-base;
//     box-shadow: 100vw 0 0 0 $color-bg-base;
//   }

//   @include media-tablet {
//     @include font ($size: 36px, $line-height: 36px, $upper: none);

//     width: fit-content;
//     margin-left: 0;
//     padding-left: 40px;
//     padding-right: 40px;

//     &--form {
//       margin-left: -40px;
//     }

//     &::before {
//       top: 23px;
//     }
//   }

//   @include media-desktop {

//     margin-left: -40px;


//     &--form {
//       margin-left: -40px;
//       padding-left: 40px;
//     }
//   }
// }

// .product-lid-txt {
//   @include font ($family: $font-base, $size: 16px, $line-height: 20px, $color: $color-white, $upper: none);
// }

// .form-lid-text {
//   @include font ($size: 14px, $line-height: 18px, $color: $color-black);

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 30px, $color: $color-black);
//   }
// }

// .form-txt {
//   @include font ($size: 16px, $line-height: 18px, $color: $color-base-text);

//   @include media-tablet {
//     @include font ($size: 20px, $line-height: 26px, $color: $color-base-text);
//   }
// }

// .property-text {
//   @include font ($family: $font-base, $size: 12px, $line-height: 12px, $upper: none, $color: $color-base-text);

//   @include media-tablet {
//     @include font ($family: $font-base, $size: 14px, $line-height: 14px, $upper: none, $color: $color-base-text);
//   }
// }

// .property-text-catalog {
//   @include font ($family: $font-base, $size: 12px, $line-height: 16px, $upper: none, $color: $color-base-text);

//   @include media-tablet {
//     @include font ($family: $font-base, $size: 16px, $line-height: 20px, $upper: none, $color: $color-base-text);
//   }
// }

// .property-text-addition {
//   @include font ($family: $font-base, $size: 14px, $line-height: 14px, $upper: none, $color: $color-base-text);

//   @include media-tablet {
//     @include font ($family: $font-base, $size: 16px, $line-height: 20px, $upper: none, $color: $color-base-text);
//   }
// }

// .address-text {
//   @include font ($family: $font-base, $size: 14px, $line-height: 20px, $color: $color-base-text, $upper: none);

//   @include media-tablet {
//     @include font ($family: $font-base, $size: 16px, $line-height: 20px, $color: $color-base-text, $upper: none);
//   }
// }